.login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff); 
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    .login-form{
        margin-top: 50px;
        width: 500px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        padding: 25px 16px;
        height: fit-content;
        border-radius: 4px;
        & form{
            & h1{
                text-align: center;
                margin-top: 8px;
            }
            & button{
                margin-top: 24px;
                width: 100%;
                border: none;
                outline: none;
                padding: 8px 12px;
                display: inline-block;
                border-radius: 2px;
                background-color: $primaryColor;
                color: white;

                &:hover{
                    opacity: .8;
                    transition: all 0.2s linear;
                }
            }
        }
    }
}

@media (max-width: 520px){
    .login{
        .login-form{
            width: 98%;
        }
    }
}